:root {
  --input-width: 100%;
  --input-height: 40px;
  --search-button-width: 96px;
  --banner-width: 120px;
}

.bannerBorder {
  display: flex;
  flex-direction: column;
  overflow: visible !important;
}

.search-form {
  z-index: 9999;
  background-color: #000;
  width: 331px;
  margin: 0;
  position: absolute;
  bottom: 0;
  padding: 5px;
  gap: 10px;
  left: 0;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  height: 198px;
}

.to-input-wrapper {
  grid-area: to;
}

.from-input-wrapper {
  grid-area: from;
}

.search-wrapper {
  position: relative;
  display: flex;
}

.search-submit-btn {
  bottom: unset;
  grid-area: btn;
  background-color: #0b96ec;
  font-family: Arial, sans-serif;
  transition: background-color .5s,color .5s;
  text-decoration: none;
  text-align: center;
  height: 40px;
  vertical-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 700;
  border-radius: 8px;
  color: #fff;
}

.search-input {
  font-family: Arial, sans-serif;
  height: var(--input-height);
  font-size: 12px;
  width: var(--input-width);
  padding-left: 33px;
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: #fff;
  outline: none;
}

.search-input[data-touched="true"]:invalid {
  border-color: rgb(255, 73, 87);
}
.search-input[aria-invalid="true"] {
  border-color: rgb(255, 73, 87);
}

.search-input-icon {
  position: absolute;
  top: 10px;
  left: 8px;
}
/*  */
.auto-complete {
  position: absolute; 
  z-index: 1000; 
  max-height: 200px; 
  overflow-y: auto; 
  background-color: #fff; 
  border: 1px solid #ccc; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  width: 100%; 
  display: none; 
}

/*  */
.auto-complete--active {
  display: block; 
}

/* Options of ul */
.auto-complete li {
  padding: 10px; 
  cursor: pointer; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

/* when are selected */
.auto-complete li:hover {
  background-color: #f0f0f0; 
}

.creativeProduct {
  right: 0 !important;
  height: 250px !important;
}

.creativeProductImage {
  height: 250px !important;
  width: 639px !important;
  background-size: cover !important;
  background-position: center !important;
}

.creativeProductInfo {
  width: 285px !important;
  position: absolute !important;
  background: #FFFFFFCB !important;
  right: 0 !important;
  padding: 20px 15px !important;
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.creativeProductPrice {
  margin-top: 5px !important;
  height: unset !important;
  font-size: 18px !important;
  text-align: left !important;
  font-weight: bold !important;
}

.creativeProductText {
  margin-top: 0 !important;
  height: unset !important;
  font-size: 16px !important;
  text-align: left !important;
}

.creativeProductButton {
  margin: 0 !important;
  width: 150px !important;
  border-radius: 4px !important;
  margin-bottom: -10px !important;
}

.creativeProductButtonContainer {
  margin: 0 !important;
  width: 100px !important;
  margin-top: 25px !important;
}

#productsContainer {
  top: 0 !important;
  height: 250px !important;
}

#allGroups {
  height: 250px !important;
}

.creativeGroupContainer {
  position: absolute !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: end !important;
  height: 250px !important;
}

.creativeGroupContainer {
  height: 250px !important;
}
